<div class="container-fluid">
    <form [formGroup]="checkoutForm">
        <h1 class="line_space">RGB色作成ツール</h1>
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="row">
                    <h2 class="line_space">１．色相を決める</h2>
                    <!--
                        色相入力欄
                    -->
                    <div class="col-12">
                        <label for="color_hue" class="form-label">Hue(色相)</label>
                    </div>
                    <div class="col-6 col-lg-2">
                        <input id="color_hue" type="number" min="0" max="360" class="form-control"
                            formControlName="color_hue" [(ngModel)]="color_hue" (input)="onChange1()">
                    </div>
                    <div class="col-6 col-lg-2">
                        <input type="text" disabled class="form-control" [value]="color_hue_hex">
                    </div>
                    <div class="col-12 col-lg-8">
                        <input type="range" min="0" max="360" step="0.01" class="form-control"
                            formControlName="color_hue" [(ngModel)]="color_hue" (input)="onChange1()"
                            [style.background-color]="color_hue_hex">
                    </div>
                    <!--
                        結果確認用ラベル
                    -->
                    <div class="col-4 line_space">
                        <label class="form-label">Red</label>
                    </div>
                    <div class="col-4 line_space text-center">
                        <label class="form-label">Green</label>
                    </div>
                    <div class="col-4 line_space text-end">
                        <label class="form-label">Blue</label>
                    </div>
                    <!--
                        結果確認用RGB
                    -->
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_1_r">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_1_r"
                            [style.background-color]="color_1_r_hex">
                    </div>
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_1_g">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_1_g"
                            [style.background-color]="color_1_g_hex">
                    </div>
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_1_b">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_1_b"
                            [style.background-color]="color_1_b_hex">
                    </div>
                    <!--
                        彩度と明度の入力欄
                    -->
                    <h2 class="line_space_2">２．彩度と明度を決める</h2>
                    <!--
                        ラベル
                    -->
                    <div class="col-6">
                        <label for="color_sat" class="form-label">Saturation(彩度)</label>
                    </div>
                    <div class="col-6 text-end">
                        <label for="color_val" class="form-label">Value(明度)</label>
                    </div>
                    <!--
                        入力欄
                    -->
                    <div class="col-4 col-lg-2">
                        <input id="color_sat" type="number" min="0" max="100" class="form-control"
                            formControlName="color_sat" [(ngModel)]="color_sat" (input)="onChange2()">
                    </div>
                    <div class="col-8 col-lg-4">
                        <input type="range" min="0" max="100" step="0.01" class="form-control"
                            formControlName="color_sat" [(ngModel)]="color_sat" (input)="onChange2()"
                            [style.background-color]="color_sat_hex">
                    </div>
                    <div class="col-4 col-lg-2">
                        <input id="color_val" type="number" min="0" max="100" class="form-control"
                            formControlName="color_val" [(ngModel)]="color_val" (input)="onChange2()">
                    </div>
                    <div class="col-8 col-lg-4">
                        <input type="range" min="0" max="100" step="0.01" class="form-control"
                            formControlName="color_val" [(ngModel)]="color_val" (input)="onChange2()"
                            [style.background-color]="color_val_hex">
                    </div>
                    <!--
                        結果欄
                    -->
                    <h2 class="line_space_2">３．結果</h2>
                    <!--
                        結果確認用ラベル
                    -->
                    <div class="col-4">
                        <label class="form-label">Red</label>
                    </div>
                    <div class="col-4 text-center">
                        <label class="form-label">Green</label>
                    </div>
                    <div class="col-4 text-end">
                        <label class="form-label">Blue</label>
                    </div>
                    <!--
                        結果確認用
                    -->
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_2_r">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_2_r"
                            [style.background-color]="color_2_r_hex">
                    </div>
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_2_g">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_2_g"
                            [style.background-color]="color_2_g_hex">
                    </div>
                    <div class="col-3 col-lg-1">
                        <input type="text" disabled class="form-control" [value]="color_2_b">
                    </div>
                    <div class="col-9 col-lg-3">
                        <input type="range" min="0" max="255" disabled class="form-control" [value]="color_2_b"
                            [style.background-color]="color_2_b_hex">
                    </div>
                    <!--
                        結果確認用RGB
                    -->
                    <div class="col-12 line_space">
                        <label class="form-label">Result</label>
                    </div>
                    <div class="col-12 col-lg-2">
                        <input type="text" disabled class="form-control" [value]="color_result_hex">
                    </div>
                    <div class="col-12 col-lg-10">
                        <input type="range" min="0" max="2" disabled class="form-control" value="1"
                            [style.background-color]="color_result_hex">
                    </div>
                    <!--
                        保存ボタン
                    -->
                    <h2 class="line_space_2">４．保存</h2>
                    <div class="col-3"></div>
                    <button type="button" class="col-6 btn btn-primary" (click)="saveHistory()">保存</button>
                    <div class="col-3"></div>
                    <!--
                        履歴欄
                    -->
                    <h2 class="line_space_2">５．履歴</h2>
                    <!--
                        結果確認用ラベル
                    -->
                    <div class="col-1"></div>
                    <ul class="col-10 list-group">
                        <li class="list-group-item" *ngFor="let value of listHistory(); let i = index">{{value}}</li>
                    </ul>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
            </div>
        </div>
    </form>
</div>